---
import SearchButton from '@/components/TopBar/SearchButton.astro'
import ThemeIcon from '@/components/TopBar/ThemeIcon.astro'
import Logo from '@/components/TopBar/Logo.astro'
---

<nav class="fixed top-4 w-full flex items-center justify-center px-4">
  <Logo />
  <SearchButton />
  <ThemeIcon />
</nav>
