---
import {Search} from 'lucide-react'
---

<div class="flex flex-row items-center gap-2">
  <Search />
  <input
    type="text"
    class="p-2 w-96 max-w-[60vw] border border-border rounded-md"
    placeholder={'Search...'}
  />
</div>
