---
import {Search} from 'lucide-react'
---

<div
  class="flex items-center justify-start gap-2 py-2 px-4 w-full max-w-2xl mx-4 border border-border rounded-md hover:rounded-3xl focus:rounded-3xl hover:px-5 focus:px-5 transition-border duration-500 text-muted-foreground cursor-pointer bg-muted text-nowrap overflow-hidden"
  tabindex="0"
>
  <Search />
  ¿Buscas algo?
</div>
