---
import SearchBox from './SearchBox.astro'
---

<nav
  class="flex flex-row items-center justify-between p-4 h-12 bg-card border-border border text-foreground"
>
  <p>Logo</p>
  <SearchBox />
  <p>Controls</p>
</nav>
