---
import BaseLayout from '@/layouts/BaseLayout.astro'
import SchoolLayout from '@/layouts/SchoolLayout.astro'
---

<BaseLayout pageTitle="Biblioteca Zunbeltz">
  <SchoolLayout>
    <main>
      <h1>Biblioteca</h1>
    </main>
  </SchoolLayout>
</BaseLayout>
