---
import BaseLayout from '@/layouts/BaseLayout.astro'
import SchoolLayout from '@/layouts/SchoolLayout.astro'
---

<BaseLayout pageTitle="Cursos Zunbeltz">
  <SchoolLayout>
    <main>
      <h1>Cursos</h1>
    </main>
  </SchoolLayout>
</BaseLayout>
