---
import {Search} from 'lucide-react'
---

<nav
  class="flex flex-row items-center justify-between p-4 h-12 bg-card border-border border text-foreground"
>
  <p>Logo</p>
  <div class="flex flex-row items-center gap-2">
    <Search />
    <input
      type="text"
      class="p-2 w-96 max-w-[60vw] border border-border rounded-md"
      placeholder={'Search...'}
    />
  </div>
  <p>Controls</p>
</nav>
