---
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogLayout from '@/layouts/BlogLayout.astro'
---

<BaseLayout pageTitle="Ciencia">
  <BlogLayout>
    <p>Ciencia</p>
  </BlogLayout>
</BaseLayout>
