---
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogLayout from '@/layouts/BlogLayout.astro'
---

<BaseLayout pageTitle="Deporte">
  <BlogLayout>
    <p>Deporte</p>
  </BlogLayout>
</BaseLayout>
