---
import BaseLayout from '@/layouts/BaseLayout.astro'
import LayoutEscuela from '@/layouts/LayoutEscuela.astro'
---

<BaseLayout pageTitle="Academia Zunbeltz">
  <LayoutEscuela>
    <h1>Bienvenido a la escuela Zunbeltz</h1>
  </LayoutEscuela>
</BaseLayout>
