---
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogLayout from '@/layouts/BlogLayout.astro'
---

<BaseLayout pageTitle="Conoce Navarra">
  <BlogLayout>
    <p>Conoce navarra</p>
  </BlogLayout>
</BaseLayout>
