---
import BaseLayout from '@/layouts/BaseLayout.astro'
import ShopLayout from '@/layouts/ShopLayout.astro'
---

<BaseLayout pageTitle="Tienda">
  <ShopLayout>
    <p>Tienda</p>
  </ShopLayout>
</BaseLayout>
