---
import {Search} from 'lucide-react'
import ThemeIcon from './ThemeIcon.astro'
---

<nav
  class="fixed w-full flex flex-row items-center justify-between p-4 h-12 bg-card border-border border text-foreground"
>
  <p>Logo</p>
  <ThemeIcon />
  <ul class="flex flex-row gap-4 whitespace-nowrap">
    <li>
      <a
        class="zunbeltz-anchor"
        href="/escuela"
        >Escuela</a
      >
    </li>
    <li>
      <a
        class="zunbeltz-anchor"
        href="/navarra"
        >Conoce Navarra</a
      >
    </li>
    <li>
      <a
        class="zunbeltz-anchor"
        href="/"
        >La falla</a
      >
    </li>
    <li>
      <a
        class="zunbeltz-anchor"
        href="/deporte"
        >Deporte</a
      >
    </li>
    <li>
      <a
        class="zunbeltz-anchor"
        href="/ciencia"
        >Ciencia</a
      >
    </li>
    <li>
      <a
        class="zunbeltz-anchor"
        href="/tienda"
        >Tienda</a
      >
    </li>
  </ul>
  <div class="flex flex-row items-center gap-1">
    <Search />

    <div
      class="flex items-center justify-start py-2 px-4 min-w-44 border border-border rounded-md hover:rounded-3xl focus:rounded-3xl hover:px-5 focus:px-5 transition-all duration-500 text-muted-foreground cursor-pointer bg-muted"
      tabindex="0"
    >
      Busca algo...
    </div>
  </div>
</nav>
