---
import BaseLayout from '@/layouts/BaseLayout.astro'
import MainTopBar from '@/components/MainTopBar.astro'
import BlogRightSidebar from '@/components/blog/BlogRightSidebar.astro'
---

<BaseLayout>
  <MainTopBar />
  <div class="flex flex-row">
    <slot />
    <BlogRightSidebar />
  </div>
</BaseLayout>
