---
import LeftSidebar from '@/components/LeftSidebar/LeftSidebar.astro'
import Topbar from '@/components/TopBar/Topbar.astro'
---

<Topbar />
<div class="flex flex-row h-svh">
  <LeftSidebar />
  <slot />
</div>
