---
import SchoolLeftSidebar from '@/components/school/SchoolLeftSidebar.astro'
import SchoolTopbar from '@/components/school/SchoolTopbar.astro'
---

<SchoolTopbar />
<div class="flex flex-row h-svh">
  <SchoolLeftSidebar />
  <slot />
</div>
